.navbar {
    width: 100%;
    background-color: #fff;
    color: var(--primary);
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 998;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}


.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-center {
    justify-content: center;
    flex: 2;
}

.nav-right {
    justify-content: flex-end;
    gap: 1rem;
}

.nav-logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary);
    white-space: nowrap;
    padding-left: 0.5rem;
}

.logout-btn {
    background: none;
    border: none;
    color: var(--primary);
    font-size: 1.4rem;
    cursor: pointer;
    transition: opacity 0.2s ease;
    padding-right: 1.5rem;
}

.logout-btn:hover {
    opacity: 0.7;
}

/* Buscador */
.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 0.95rem;
    width: 100%;
    background-color: #f3f3f3;
    color: var(--text-dark);
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.2s ease;
}

.search-input:focus {
    box-shadow: 0 0 0 2px var(--primary);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--text-light);
    font-size: 1rem;
    pointer-events: none;
}

@media (max-width: 768px) {
    .navbar {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);

    }

    .navbar-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;

    }

    .nav-left,
    .nav-center,
    .nav-right {
        justify-content: center;
        width: 100%;
    }

    .nav-logo {
        padding-left: 0;
        font-size: 1.4rem;
        padding-right: 4.5rem;
        padding-bottom: 1rem;
    }

    .search-wrapper {
        /*max-width: 100%;
        padding: 0 1rem;*/
        padding-right: 6.5rem;
        width: 100%;
        max-width: 90%;
    }

    .logout-btn {
        padding: 0;
        padding-right: 5rem;
        padding-top: 0.8rem;


    }
}